nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: $color-background-default;

  .logo,
  .search-bar,
  .account-image {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 50px;
    width: auto;
  }

  .search-bar {
    flex-grow: 0;
    margin: 0 20px;
    max-width: 300px;

    input {
      padding: 0.5em;
      border: 1px solid $color-border-input;
      margin-right: 0.5em;
    }

    button {
      padding: 0.5em;
      background-color: $color-button-background;
      border: none;
      color: $color-text-button;
      cursor: pointer;
    }
  }

  .account-image {
    img {
      height: 30px;
      width: 30px;
      background-color: $color-background-account;
      border-radius: 50%;
      object-fit: cover;
    }

    &:hover .menu-compte {
      display: block;
    }
  }

  .menu-compte {
    display: none;
    position: absolute;
    right: 0;
    background-color: $color-menu-background;
    min-width: 160px;
    box-shadow: $shadow-menu;
    z-index: 1;
    margin-top: 200px;

    ul {
      list-style-type: none;
      padding: 0;
    }

    ul li {
      padding: 12px 16px;
      text-align: left;

      a {
        text-decoration: none;
        display: block;
        color: $color-text-secondary;
      }
    }
  }
}