$color-background-default: white;
$color-background-account: black;

$color-text-default: white;
$color-text-secondary: black;
$color-text-test: red;

$color-text-button: white;

$color-border-input: #ccc;

$color-button-background: #333;
$color-button-background-secondary: #0056b3;

$color-menu-background: #f9f9f9;
$shadow-menu: 0px 8px 16px 0px rgba(0,0,0,0.2);

$font-primary: 'Karantina', sans-serif;